/* Element Styles */

* {
  font-family: "Raleway";
  background-color: #5D4954;
  color: #E6DBD0;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
}

img {
  height: 10vw;
  width: 10vw;
  padding: 1vw;
}

button {
  font-size: 1em;
  font-weight: 600;
  padding: 1vw;
  border: solid .5vw #5D4954;
  border-radius: 6vw;
  width: 13vw;
  padding: 1vw;
  cursor: pointer;
}

article {
  display: flex;
  padding: 2vw;
  height: 10vw;
  background-color: inherit;
  align-items: center;
  -webkit-animation: bounce-in-right 2.1s both;
  animation: bounce-in-right 2.1s both;
  animation: fade-out-right 5s;
  animation-fill-mode: forwards;
}

button:hover {
  background-color: #6A8E7F;
  border-color: #6A8E7F;
  color:#5D4954;
}

/* Class Styles */

.player-one, .player-two {
  display: flex;
  justify-content: flex-start;
  height: 75vw;
  width: 25vw;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}

img, .win-counter, .player-one, .player-two {
  background-color: #7D6167;
}

.game {
  display: flex;
  flex-direction: column;
}

.game {
  align-items: center;
  background-color: #F9E0D9;
  height: 75vw;
  width: 50vw;
}

.square {
  display: flex;
  color: black;
  height: 10vw;
  width: 10vw;
  background-color: #F9E0D9;
  border: .2vw solid #B29E9C;
  align-items: center;
  justify-content: center;
}

.game-pieces, .icon {
  height: 5vw;
  width: 5vw;
  background-color:inherit;
}

.icon {
  padding: 0.2vw;
}

.turn {
  display: flex;
  animation: fadeIn ease 6s;
  justify-content: center;
  align-items: flex-end;
}

.computer-piece {
  animation: fadeIn ease 2s;
}

 /* Game Board Style */

.game-board {
  background-color: #F9E0D9;
  display: grid;
  grid-template: 0fr 0fr 0fr / 0fr 0fr 0fr;
  cursor: pointer;
  justify-content: center;
  padding: 2vw;
}

.top {
  border-top: #F9E0D9;
}

.bottom {
  border-bottom: #F9E0D9;
}

.left {
  border-left: #F9E0D9;
}

.right {
  border-right: #F9E0D9;
}

/* Reusable Rules */

.fade-in {
  animation: fadeIn ease 5s;
}

.hidden {
    display: none;
}

/* --------- ANIMATIONS --------  */

  @keyframes bounce-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(68px);
              transform: translateX(68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(32px);
              transform: translateX(32px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @-webkit-keyframes fade-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
  }
  @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
  }

/* ------------------- */
